body {
  font-family: 'lucida grande', sans-serif;
}
.header {
  font-size: 25px;
  font-weight: 100;
  text-align: center;
  width: 300px;
  margin: 0 auto;
  border-bottom: 3px solid gray;
  padding-top: 20px;
  padding-bottom: 10px;
}
#kavidi_head {
  height: 45px;
  width: 260px;
  margin-bottom: -8px;
}
.footer {
  position: fixed;
  bottom: 0px;
  height: 50px;
  width: 100%;
}
#footer {
  padding-top: 15px;
  width: 70%;
  height: 50px;
  margin: 0 auto;
  border-top: 1.5px solid gray;
  text-align: center;
  overflow: auto;
}
.footer_elements {
  height: 30px;
  width: 18%;
  margin-left: 8px;
  display: inline-block;
  vertical-align: middle;
}
#gitHub {
  height: 30px;
  width: 30px;
  margin-top: -6px;
}
.footer a:link, a:visited {
  color: inherit;
  text-decoration: none;
}
.footer_elements a.hover:hover {
  color: #4078c0;
  text-decoration: underline;
}
