body {
  font-family: 'lucida grande';
}
.header {
  font-size: 25px;
  font-weight: 100;
  text-align: center;
  width: 300px;
  margin: 0 auto;
  border-bottom: 3px solid gray;
  padding-top: 20px;
  padding-bottom: 10px;
}
#kavidi_head {
  height: 40px;
}
.footer {
  position: fixed;
  bottom: 0px;
  height: 50px;
  width: 100%;
}
#footer {
  /*padding-top: 10px;*/
  padding-top: 20px;
  width: 1024px;
  height: 50px;
  margin: 0 auto;
  border-top: 1.5px solid gray;
  text-align: center;
}
.footer_elements {
  height: 30px;
  width: 145px;
  margin-left: 8px;
  display: inline-block;
  vertical-align: middle;
}
#gitHub {
  height: 30px;
  width: 30px;
}
.footer a:link, a:visited {
  color: inherit;
  text-decoration: none;
}
.footer_elements a.hover:hover {
  color: #4078c0;
  text-decoration: underline;
}