.userInfo{
  padding-top: 15%;
  height: 200px;
  border-radius: 5px;
  margin: 0 auto;
  width: 400px;
}

h3{
  text-align: center;
  margin: 0 auto;
  font-size:33px;
  font-weight: lighter;
}

#login{
  width: 252px;
  margin: 0 auto;
  padding-top: 20px;
}

#name{
  width: 252px;
  height: 42px;
  font-size: 14px;
  font-weight: 100;
  padding: 5px;
}

.button {
  padding-bottom: 2px;
  width: 252px;
  height: 42px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  background-color: #e2e2e2;
  font-weight: 100;
}

#continue{
  margin-top: 10px;
}

.hidden {
  display: none;
}

.selectGame {
  height: 650px;
  width: 1200px;
  margin: 0 auto;
  margin-top: 50px;
  /*background-color: yellow;*/
}

.createGame {
  width: 400px;
  /*background-color: red;*/
  height: inherit;
  border-right: 2px solid #ddd;
  display: inline-block;

}

#createGame_button {
  margin-left: 74px;
  margin-top: 300px;
}

.joinGame {
  width: 790px;
  height: inherit;
  /*background-color: red;*/
  float: right;
  padding-top: 20px;
}

table {
    border-collapse: collapse;
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
}

th, td {
    padding: 8px;
    text-align: center;
    width: 142px;
    border-bottom: 1px solid #ddd;
}

.games:hover {
  background-color: #f5f5f5;
  cursor: pointer;
}
