body{
	padding: 40 30 40 30;
	background-color: lightgrey;
}

.rightPane{
	float: left;
	padding: 5px;
	margin: 10px;
	height: 510px;
	width: 350px;
	padding-top: 80px;
	padding-right: 10px;	

}
.leftPane{
	float: left;
	width: 50.84%;
	background-color: lightgrey;
	height: 80.1%;
	padding-left: 100px;
	padding-top: 75px;
}
#dice{
	height: 40px;
	width: 80px;
    background: #62a;
    color: white;
    border-radius: 5px;
    font-size: 18px;
}
#board {
	width: 700px;
}

.grid{
	border: 2px;
	width : 750px;
	height:700px;
}

.tile{
	background-color: grey;
	border:3px solid black;
	height: 100px;
	width : 100px;
}

.safePlace{
	background-color: white;
	border:3px solid black;
	height: 100px;
	width : 100px;

}
.header{
	background-color: lightgrey;
}

#information{
	float: right;
	width: 90%;
	height: 100%;
}

#notification{
	padding-top: 50px;
	/*padding-right: 1px;*/
	padding-left: 11px;
}
#name{
	width: 200px;
	height: 30px;
	font-size: 17px;
};
#userid{
	width: 200px;
	height: 100px;
	background-color: #fff;
}
#submit{
	height: 30px;
	width: 80px;
    background: #62a;
    color: white;
    border: none;
    border-radius: 5px;
    margin-left: 30px;
    font-size: 18px;
}

#login{
	padding-left: 42%;
	padding-top: 20%;
}

.outerTile{
	border:0px;
}

.parking{
	border:2px solid black;
}

.coins_red{
    margin-top: -32%;
    margin-left: 13%;
}

.coins_green{
    margin-top: -89%;
    margin-left: 33%;
}

.coins_blue{
    margin-top: -89%;
    margin-left: -7%;
}

.coins_yellow{
	margin-top: -107%;
    margin-left: 13%;
}

#update{
	border: 1px solid black;
	height :20px;
	width: 50px;
    margin-left: 55%;
	margin-top: -2%;
}
#updateText{
	margin-left:43%
}





