body{
	padding: 40 30 40 30;
	background-color: lightgrey;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 20px;
    margin-bottom: 20px;

}

#body{
    padding-top: 0px;
    padding-bottom: 0px;
    width: 1330px;
    height: 730px;
    margin-top: 0px;
    margin-bottom: 0px;
}

#heading{
	font-family: sans-serif;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 1325px;
    height: 35px;
    border-top-width: 0px;
    padding-left: 0px;
}

.rightPane {
    float: left;
    padding: 5px;
    margin: 10px;
    padding-top: 15px;
    width: 300px;
    height: 420px;
    padding-left: 10px;
    margin-top: 109px;
    margin-left: 136px;
    padding-right: 10px;
}

.leftPane{
	float: left;
	background-color: lightgrey;
    padding-left: 50px;
    padding-top: 20px;
    padding-bottom: 0px;
    width: 749.172;
    height: 698.719;
}

#dice{
	height: 40px;
	width: 80px;
    background: #62a;
    color: white;
    border-radius: 21px;
    font-size: 18px;
    margin-left: -59px;
    margin-top: 826px;
}

#board {
    width: 800px;
    table-layout:fixed;
    min-width:800px;
    max-width:800px;
    margin-top: 79px;
}

.Dice{
	margin-left: 800px;
    margin-top: -200px;
}

.grid{
	border: 2px;
	width : 750px;
	height:700px;
	table-layout:fixed;
}

.tile{
	background-color: grey;
	border:3px solid black;
	height: 90px;
	width : 90px;
	table-layout: fixed;
    text-align: center;
}

.safePlace{
    background-image: url('/svg/safeCross.svg');
    background-color: white;
	border:3px solid black;
	height: 100px;
	width : 100px;
    text-align: center;
}

.header{
	background-color: lightgrey;
    margin-top: -66px;
}

#information{
	float: right;
    width: 300px;
    padding-left: 0px;
	height: 100%;
}

#layout {
    height: 93%;
    width: 99%;
    margin-left: 15%;
    border: 1px solid black;
}

#layout #notification{
    display: inline-block;
    overflow: scroll;
    height: 100%;
    width: 99%;
    background-color: #fff;
    font-size: 21px;
    font-weight: bold;
    text-align: center;
    border: 1px solid black;
}

#name{
	width: 200px;
	height: 30px;
	font-size: 17px;
}

#gameId{
    width: 200px;
    height: 30px;
    font-size: 14px;
}

#userid{
	width: 200px;
	height: 100px;
	background-color: #fff;
}

#submit{
    margin-left: 50px;
    padding-bottom: 2px;
    width: 72px;
    height: 29px;
    background: #62a;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
}

#login{
    padding-left: 542.875;
    padding-top: 236.797;
    border-top-width: 0px;
}

.outerTile{
	border:0px;
    text-align: center;
}

.parking{
	border:2px solid black;
    text-align: center;
}

.coins_red{
    margin-top: -32%;
    margin-left: 13%;
}

.coins_green{
    margin-top: -89%;
    margin-left: 33%;
}

.coins_blue{
    margin-top: -89%;
    margin-left: -7%;
}

.coins_yellow{
	margin-top: -107%;
    margin-left: 13%;
}

#update{
	border: 1px solid black;
	height :20px;
	width: 50px;
    margin-left: 55%;
	margin-top: -2%;
}

#updateText{
	margin-left:43%
}

#manual{
	border: 2px solid black;
	border-radius: 5px;
	font-family: serif;
	font-size: 20px;
	float: right;
}

#userID_table{
    width: 300px;
    border-left-width: 1px;
}

#diceValues{
    margin-left: 800px;
}

.updateDice{
    margin-left: 900px;
    width: 119px;
}

#playerTurn {
    font-family: monospace;
    font-size: 27px;
    margin-top: -103%;
}


