.tile {
  height: 90px;
  width: 90px;
  background-color: #E6E6E6;
  border-radius: 4px;
  border: 2px solid #B3B3B3;
  text-align: center;
}
.board {
  height: 680px;
  border-right: 2px solid #CCCCCC;
  display: inline-block;
  padding-right: 20px;
}
.body {
  width: 1100px;
  height: 750px;
  margin: 0 auto;
  margin-top: 20px;
}
.safeTile {
  background-color: #CCCCCC;
  border: 1px solid #B3B3B3;
}
.outerTile {
  background-color: white;
  border: none;
}
.parking {
  background-color: #E6E6E6;
  border-radius: 4px;
  text-align: center;
}
.coin, .coinRep {
  width: 15px;
  height: 15px;
  border-radius: 10px;
  margin-left: 1.5px;
  margin-right: 1.5px;
  display: inline-block;
  background-color: lightgray;
}
.playInfo {
  width: 350px;
  height: 650px;
  float: right;
  display: inline-block;
}
.players {
  margin-bottom: 20px;
  list-style-type: none;
  height: 75px;
  margin-bottom: 20%;
}
.myInfo {
  height: 90px;
  border-radius: 5px;
  color: #4C4C4C;
}
.player_container {
  margin: 0 auto;
  height: 30px;
}
.player_container > * {
  display: inline-block;
  overflow: scroll;
}
.player {
  text-align: center;
  color: #CCCCCC;
  font-weight: 800;
  margin: 0 auto;
}
.current_player {
  color: #4C4C4C;
  font-weight: 800;
}
.colour {
  width: 20px;
  height: 12px;
  border-radius: 4px;
  float: right;
}
.myInfos {
  width: 110px;
  display: inline-block;
  text-align: center;
  border-right: 1.5px solid gray;
}
.myInfo_head {
  text-align: center;
  margin-bottom: 10px;
  font-weight: 800;
  border-bottom: 1px solid lightgray;
}
#myName {
  padding-bottom: 3px;
}
.notifications {
  margin-top: 10px;
  color: #4C4C4C;
  height: 150px;
  padding-top: 10px;
  overflow: scroll;
}
.notifications_head {
  text-align: center;
  font-weight: 800;
  border-bottom: 1px solid lightgray;
  margin-top: 5%;
}
.dice_area {
  border-top: 1.5px solid lightgray;
  height: 280px;
}
.coins_red {
  background-color: red;
}
.coins_green {
  background-color: green;
}
.coins_blue {
  background-color: blue;
}
.coins_yellow {
  background-color: yellow;
}
#red_box {
  background-color: red;
}
#green_box {
  background-color: green;
}
#blue_box {
  background-color: blue;
}
#yellow_box {
  background-color: yellow;
}
#dice {
  width: 50px;
  height: 30px;
  border-radius: 5px;
  text-align: center;
  margin: 0 auto;
  top: 50%;
  left: 50%;
  position: absolute;
}
#dice_values {
  border-bottom: 1.5px solid lightgray;
  margin: 0 auto;
  height: 50px;
}
#dice_values > * {
  vertical-align: middle;
  display: inline-block;
}
#last_dice_value {
  height: inherit;
  width: 20%;
  border-right: 1.5px solid lightgray;
}
.dice {
  width: 100%;
  height: 100%;
  vertical-align: middle;
  position: relative;
  margin-top: -23%;
}
.filledCoin {
  width: 15px;
  height: 15px;
  border-radius: 10px;
  margin-left: 1.5px;
  margin-right: 1.5px;
  display: inline-block;
}