.tile {
	height: 90px;
	width: 90px;
	background-color: #E6E6E6;
	border-radius: 4px;
	border: 2px solid #B3B3B3;
}

.board {
	width: 700px;
	height: 650px;
	margin-left: 300px;
	margin-top: 20px;
	display: inline-block;
	border-right: 2px solid #ddd;
}

.body {
	width: 1400px;
	height: 750px;
	margin: 0 auto;
}

.safeTile {
	background-color: #CCCCCC;
	border: 1px solid #B3B3B3;
}

.outerTile {
	background-color: white;
	border: none;
}

.parking {
	background-color: #E6E6E6;
	border-radius: 4px;
}

.coin {
	width: 15px;
	height: 15px;
	border-radius: 10px;
	background-color: red;
	margin-left: 1.5px;
	margin-right: 1.5px;
	display: inline-block;
}

.playInfo {
	width: 350px;
	height: 650px;
	float: right;
	display: inline-block;
}

.players {
	margin-top: 100px;
	height: 30px;
	margin-bottom: 20px;
}

.myInfo {
	height: 90px;
	/*background-color:#E6E6E6; */
	border-radius: 5px;
	color: #4C4C4C;
}

.player_container {
	width: 110px;
	margin: 0 auto;
	display: inline-block;
}

.player {
	text-align: center;
	color: #CCCCCC;
	display: inline-block;
	font-weight: 800;
}

.current_player {
	color: #4C4C4C;
	font-weight: 800;
}

.colour {
	width: 20px;
	height: 12px;
	background-color: blue;
	border-radius: 4px;
	display: inline-block;
}

.myInfos {
	width: 110px;
	display: inline-block;
	text-align: center;
	border-right: 1.5px solid gray;
}

.myInfo_head {
	text-align: center;
	margin-bottom: 10px;
	font-weight: 800;
	/*background-color: #E6E6E6;*/
	border-bottom: 1px solid lightgray;
}

#playerName {
	padding-bottom: 3px;
}

.notifications {
	margin-top: 10px;
	color: #4C4C4C;
	height: 150px;
	/*background-color: #E6E6E6;*/
	padding-top: 10px;
}

.notifications_head {
	text-align: center;
	font-weight: 800;
	border-bottom: 1px solid lightgray;
	/*background-color: yellow;*/
}

.dice_area {
	background-color: #E6E6E6;
	height: 280px;
}

