<div id="footer">
    <div class="footer_elements" id="about"><a class="hover" title="About kavidikali" href="about.html" target="_blank">About</a></div>
    <div class="footer_elements" id="issues"><a class="hover" title="GitHub Issues" href=<%=commonUrls.bugs_url%> target="_blank">Issues</a></div>
    <div class="footer_elements" id="git">
        <a class="hover" title="kavidikali Repository" href="<%=commonUrls.github_url%>" target="_blank"><img src="images/GitHub-Mark.png" id="gitHub"></a>
    </div>
    <div class="footer_elements" id="help"><a class="hover" title="Help Page" href="manual.html">Help</a></div>
    <div class="footer_elements" id="contact"><a class="hover" title="To Contact Us" href="contact.html">Contact</a>
    </div>
</div>
