<!DOCTYPE html>
<html>

<head>
    <title>About KavidiKali</title>
    <link rel="stylesheet" href="styles/common.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="styles/about.css" media="screen" title="no title" charset="utf-8">
</head>

<body>
<div class="header">
  <% include ./partials/header %>
</div>
<div class="text">
    <p>
        <ul>
            <div class="title">
    <p>
        &nbsp;&nbsp;&nbsp;&nbsp;<b>KavidiKali</b> (Kerala : KavidiKali) is a board game of India, played during the era
        of kings. This game was used to improve eye-to-eye coordination, and to teach teenagers war tactics and
        strategy. This game is
        divided for Juniors and Seniors. The Junior board consists of 5x5 grid with 5 crossed boxes and the Senior board
        consist of 7x7 grid with 8 crossed boxes.
    </p>
    <p>
        &nbsp;&nbsp;&nbsp;&nbsp;Kavidi, the shell of "Money cowry" or "Cypraea moneta" has many roles in the culture and
        life of Keralites, thanks to the Arabian Sea that marks the western border of Kerala.
    </p>
    <p>
        &nbsp;&nbsp;&nbsp;&nbsp;Kali means "Game" or "Play" in Malayalam. Kavidi-Kali is "Money cowry shell-game".
        KavidiKali is one of the interesting uses of "Kavidi"; the other significant use being predicting one's future
        with his/her horoscope.
    </p>
    <p>
        &nbsp;&nbsp;&nbsp;&nbsp;The movement of coins is controlled by throw of 4 or 6 cowry shells, hence it is a game
        of chance. KavidiKali is primarily a game of chance, but involves thinking and planning. It also helps in
        developing counting skills. It is
        an interesting and amusing way to develop strategy skills. Instead of cowries, dice can also be used.
    </p>
</div>
<br/>
<div class="title">
    Names
    <ul>
        <p>&nbsp;&nbsp;This game is called by various names in different languages in different regions of India. This
            list shows the name, the language and then the region:</p>
    </ul>

</div>
<ul class="b">
    <li>
        Kavidi Kali - Malayalam - Kerala
    </li>
    <li>
        Chauka Bara - Kannada - Mysuru region
    </li>
    <li>
        Katte Mane - Kannada - Rural Mysuru
    </li>
    <li>
        Gatta Mane - Kannada - Rural Mysuru
    </li>
    <li>
        Chakaara or Chakka - Kannada - North Karnataka
    </li>
    <li>
        Pakidakali - Malayalam - Kerala region
    </li>
    <li>
        Ashta Chamma - Telugu - Andhra Pradesh/Telanganaa
    </li>
    <li>
        Daayam or Thaayam - Tamil - Tamil Nadu
    </li>
    <li>
        Kaana Duaa - Hindi - Madhya Pradesh
    </li>
</ul>
<br/>
<div class="title">
    Objective Of The Game
</div>
<br>
<ul class="b">
    <li>For a player to win, he/she must move all their coins to the center square.</li>
</ul>
</ul>
</p>
<div>
    <img class="seniorBoard" src="images/seniorBoard.jpg" alt="Senior Board"/>
    <img class="senior" src="images/cowry.jpg" alt="Cowry"/>
    <img class="senior" src="images/dice.png" alt="Dice"/>
    <img class="senior" src="images/juniorBoard.jpg" alt="Junior Board"/>
</div>
<div class="names">
    <span class="SB">Senior Board</span>
    <span class="cowry">Cowry</span>
    <span class="dice">Dice</span>
    <span class="JB">Junior Board</span>
</div>
</br>
</br>
<div class="sources">
    <div class="title">
        Sources
    </div>
    <ul class="b">
        <li>
            en.wikipedia.org
        </li>
        <li>
            c1.staticflickr.com
        </li>
        <li>
            henrygl.files.wordpress.com
        </li>
        <li>
            ecx.images-amazon.com
        </li>
    </ul>
    <br/>
</div>
</div>
<div class="footer">
  <% include ./partials/footer  %>
</div>
</body>

</html>
