<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Contacts</title>
    <link rel="stylesheet" href="styles/contact.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="styles/common.css" media="screen" title="no title" charset="utf-8">
</head>

<body>
    <div class="name">
        <div class="header">
            <% include ./partials/header %>
        </div>
        <div class="contactBody">
            <h1>Contacts :</h1>
            <ul>
                <% people.forEach(function(person) { %>
                    <li>
                        <% include partials/single_contact {person} %>
                    </li>
                    <% }) %>
            </ul>

            <div class="email">
                <a class="contacts" title="Contact us on Mail" href="mailto:<%=people[0].email_id%>?cc=<%=people.map((person)=>person.email_id).join(',')%>&subject=Kavidi%20Kali">
                    <img height=30px width=40px src="images/email-2.png" alt="Contact us on Mail" /> Email Us
                </a>
            </div>
        </div>
    </div>
    <div class="footer">
        <% include ./partials/footer %>
    </div>
</body>

</html>
