<html>

<head>
    <title>KavidiKali Game</title>
    <link rel="stylesheet" href="styles/index.css">
    <link rel="stylesheet" href="styles/common.css">
    <script src="//d3js.org/d3.v3.min.js"></script>
    <script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="js/index.js"></script>
    <script type="text/javascript" src="js/availableGames.js"></script>
    <script type="text/javascript" src="js/newGame.js"></script>
    <link rel="stylesheet" href="styles/chooseNoOfPlayer.css">
    <link rel="stylesheet" href="styles/font-awesome.min.css">
</head>

<body>
<div class="header">
  <% include ./partials/header %>
</div>

<div class="userInfo">
    <h3>Enter Your Name</h3>
    <div id="login">
        <input type="text" name="name" placeholder="Ex: John Smith" id="name">
        <input type="button" class="button" value="Continue" id="continue">
    </div>
</div>
<div class="selectGame hidden" id="selectGame">
    <div class="createGame">
        <!--<input type="radio" name="playWithBot" value="true"> playWithBot</input>
        <input type="radio" name="playWithplayer" value="true"> playWithPlayer</input>-->
        <input type="button" class="button" value="Create Game" id="createGame">
        <!--<input type="button" class="button" value="3 player" id="createGame_button" onclick=createGame>
        <input type="button" class="button" value="4 player" id="createGame_button" onclick=createGame>-->
    </div>
    <div class="joinGame">
        <div class="availableGames">
            <input type="button" class="button" value="Join Game" id="joinGame">
        </div>
    </div>

</div>
<div class="footer">
  <% include ./partials/footer  %>
</div>
</body>

</html>
