<html>

<head>
    <title>Join KavidiKali Game</title>
    <link rel="stylesheet" href="styles/index.css">
    <link rel="stylesheet" href="styles/common.css">
    <script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
    <link rel="stylesheet" href="styles/font-awesome.min.css">
    <script>
        window.onload = function () {
            $("#login").submit(function () {
                document.forms.loginForm.gameId.value = parseUrl().gameId;
            })
        };

        var parseUrl = function () {
            var search = document.location.search.slice(1);
            var parameters = search.split("&");
            var params = {};
            parameters.forEach(function (parameter) {
                var splittedParameter = parameter.split("=");
                params[splittedParameter[0]] = splittedParameter[1];
            });
            return params;
        };
    </script>
</head>

<body>
<div class="header">
  <% include ./partials/header %>
</div>

<div class="userInfo">
    <h3>Enter Your Name</h3>
    <form name="loginForm" action="/login" method="post" id="login">
        <input type="text" name="name" placeholder="Ex: John Smith" id="name">
        <input type="hidden" name="option" value="joinGame">
        <input type="hidden" name="gameId">
        <input type="submit" class="button" value="Continue" id="continue">
    </form>
</div>
<div class="footer">
  <% include ./partials/footer  %>
</div>
</body>

</html>
